<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="nav container justify-between justify-center">
        <div class="logo container align-center justify-left">
            <img class="img" src="{{ url_for('static', filename='img/redmond.png') }}" height="40" width="30">
            <p class="header"> City of Redmond</p>
        </div>
        <div class="logo container align-center justify-right">
            <!-- <button class="btn2" type="submit" action="/police_signup">Police Login/Sign Up</button> -->
            <a href="/police_signup">Police Login </a>
        </div>
    </div>
<div class="firstmain">
    <div>
        <h1>Welcome to online Crime Report Services.</h1>
        <h2> An online police reporting system for Redmond City.</h2>
    </div>
    <div>
        <h3 class="h3header">To file online, the following criteria must be met:</h3>
    </div>
    <div class="infopage1">
        <p> .This is not an emergency situation.</p>
        <p> .The incident occurred within Redmond city limits.*</p>
        <p> .There are no known suspects or information about the crime that can be followed up on.</p>
    </div>
    <div class="infopage2">
        <p> .Please note: An email address is required for all incident reports.</p>
    </div>

    <div>
        <form class="info" action="/user_signup">
            <button class="btn1" type="submit">Make a Report</button>
        </form>
    </div>
</div>
</body>

</html>