
<!DOCTYPE html>
<html>

<head>
    <title>friend sql</title>
    
</head>
<body>
    <h1>first sql connection</h1>
    <table>
        <thead>
            <tr>
                <th> First name</th>
                <th> Last name</th>
                <th> email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
           {% for user in users %}
           <td>{{ user.first_name }}</td>
           <td>{{ user.last_name }}</td>
           <td>{{ user.email }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
   
    <a href="/users/new">Add new User</a>
</body>
</html>
<!DOCTYPE html>
<html>
